<div class="card-container">
  <div class="card-shadow">
    <% @services.each do |service| %>
      <%= link_to service_path(service), class: 'card-product-link' do %>
        <div class="card-product p-2">
          <%= cl_image_tag(service.photo.key, class: 'card-product-image') %>

          <div class="card-product-infos">
            <h2><%= service.title %></h2>
            <% service.category.split(",").each do |category|%>
            <span class="tag"><%= category %></span>
            <% end %>
            <p class="truncate"><%= service.description %></p>
          </div>
          <div class="card-image-price d-flex flex-column align-items-end">
            <h3>¥<%= service.price %></h3>
            <% if service.user.photo.attached? %>
              <%= cl_image_tag service.user.photo.key, class: "avatar" %>
            <% else %>
              <%= image_tag "icon.png", class: "avatar" %>
            <% end %>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
