
<div class="mapbox-card">
  <% unless service.id == params[:id].to_i%>
  <%= link_to "",  service_path(service), class: "map-box-card-link"%>
  <%end%>
  <%= cl_image_tag(service.photo.key, class: "mapboxgl-popup-image w-100") %>
 <div class="mapboxgl-popup-content">
   <p><b><%= service.title %></b></p>
<div><%= render "shared/star_icon_rating", rating: average_rating, name: "Service"%></div>
   <div><%= "¥ #{service.price}" %></div>
   <div><p><%= service.schedule %></p></div>
 </div>
</div>
