<div class="container">
  <div class="review-container">
    <h2>Review:</h2>
    <%= simple_form_for [@service, @review] do |f| %>
      <p>How was the service?</p>
      <div class="service-rating">
        <%= f.input :rating, collection: 1..5, as: :radio_buttons, legend_tag: false %>
      </div>
      <p>How was their English skill?</p>
      <div class="eng-rating">
        <%= f.input :eng_rating, collection: 1..5, as: :radio_buttons, legend_tag: false, error: "Rating can't be blank" %>
        <%#= f.error_message_on :eng_rating, "Rating can't be blank" %>
      </div>
      <%= f.input :comment, required: false %>
      <div class="sub-butt">
        <%= f.submit "Submit", class: "btn btn-primary" %>
      </div>
    <% end %>
  </div>
</div>
