<% @services.each do |service| %>
  <%= link_to service_path(service), class: 'card-product-link' do %>
    <div class="card-product p-2">
      <%= cl_image_tag(service.photo.key, class: 'card-product-image') %>
      <div class="user-card-product-infos">
        <h2><%= service.title %></h2>
        <h3>¥<%= service.price %></h3>
          <div class="card-star-rating">
            <% service_rating = service.reviews.average(:rating) || 0 %>
            <p><%= render "shared/star_icon_rating", rating: service_rating, name: "" %></p>
        </div>
      </div>
    </div>
  <% end %>
<% end %>
