<div class="d-flex justify-content-center search-box">
  <div class="col-lg-8">
    <%= form_with url: services_path, method: :get, class: "d-flex justify-content-center py-2" do %>
      <%= text_field_tag :query,
            params[:query],
            class: "form-control w-50 input-field",
            placeholder: "Type a keyword"
        %>
      <div class="d-flex justify-content-between px-3 gap-3">
        <%= submit_tag "Search", name: "", class: "button-regular" %>
        <%= link_to "Show All", services_path, class: "button-light" %>
      </div>
    <% end %>
    <div class="fade-container">
      <div class="category-pills d-flex" >
        <% #["Finance", "Moving", "Accounting", "Consulting"].each do |category| %>
          <%@services.pluck(:category).map {|categories| categories.split(", ")}.flatten.uniq.first(15).each do |category|%>
            <%#= link_to services_path, class: 'card-product-link' do %>
              <%= form_with url: services_path, method: :get do %>
                <%= hidden_field_tag :query, category %>
                <%= submit_tag category, name: "", class: "tag" %>
                <!-- <span class="tag"><%= category %></span> -->
              <% end %>
              <%# end %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
    <div class="service-index-info">
      <%= render "card" %>
      <%= render "services/map_index", marker: @marker %>
    </div>
