<div class="container text-center">
<%= link_to 'Go Back', services_path, class: 'btn btn-secondary' %>
  <div class="row gx-5">
    <div class="col-8 grid-card p-3">
       <%= cl_image_tag(@service.photo.key, class: 'service-banner') %>
      <div class="d-flex justify-content-between align-items-end">
      <div>
      <div class = "profile-pic avatar-large">
        <%= cl_image_tag(@service.photo.key) %>
      </div>
         <div><i class="fa-solid fa-user"></i><%= @service.user.username%></div>
         <div><i class="fa-regular fa-envelope"></i> <%= @service.user.email%></div>
        <div><i class="fa-solid fa-phone"></i> <%= @service.user.phonenumber%></div>
      </div>
           <% if @is_bookmarked %>
          <button class='btn btn-primary' disabled>Bookmarked</button>
        <% else %>
          <%= simple_form_for [@service, @bookmark] do |f| %>
            <%= f.submit 'Bookmark', class: 'btn btn-primary' %>
          <% end %>
        <% end %>
      </div>
      <h1><%= @service.title%></h1>
      <div><i class="fa-solid fa-yen-sign me-2"></i><%= @service.price%> </div>
      <div> <i class="fa-solid fa-calendar-days me-2"></i> <%=@service.schedule%> </span></div>
      <div><%= @service.description%> </div>
    </div>
    <div class="col-4 grid-card p-3">
      <%= render "services/review" %>
      <br>
    </div>
  </div>
</div>
<div class="grid-card">
<%= render "services/reviews" %>
</div>
