<div class="container text-left">
  <%= link_to 'Go Back', services_path, class: 'btn btn-secondary' %>
  <div class="row">
    <div class="col-7 p-2">
      <div class="detail-card">
        <%= cl_image_tag(@service.photo.key, class: 'service-banner') %>
        <div class="text-end p-3">
          <% if @is_bookmarked %>
            <button class='btn btn-primary' disabled>Bookmarked</button>
          <% else %>
            <%= simple_form_for [@service, @bookmark] do |f| %>
              <%= f.submit 'Bookmark', class: 'btn btn-primary' %>
            <% end %>
          <% end %>
        </div>
        <h1><%= @service.title%></h1>
        <p>Average Rating: <%= @average_rating.nil? ? 'No reviews yet' : number_with_precision(@average_rating, precision: 1) %> stars</p>
        <%# average_rating = 4.7 %>
        <% unless @average_rating.nil? %>
          <% fullstars = @average_rating.floor %>
          <% need_half_star = ((@average_rating*2).round/2.0 % 1).round == 1 %>
          <%# display full stars %>
          <% fullstars.times do %>
            <i class="fa-solid fa-star"></i>
          <% end %>
          <%# display half star if needed %>
          <% if need_half_star %>
            <i class="fa-solid fa-star-half-stroke"></i>
            <% (4 - fullstars).times do %>
              <i class="fa-regular fa-star"></i>
            <% end %>
          <% else %>
            <%# if no half star %>
            <% (5 - fullstars).times do %>
              <i class="fa-regular fa-star"></i>
            <% end %>
          <% end %>
        <% end %>
        <div class="info"><i class="fa-solid fa-yen-sign me-2"></i><%= @service.price%> </div>
        <div class="info"> <i class="fa-solid fa-calendar-days me-2"></i> <%=@service.schedule%> </span></div>
      <div class="text"><%= @service.description%> </div>
    </div>
  </div>
  <div class="col-5 p-2">
    <div class="user-card">
      <h2>Service Provider</h2>
      <div class="d-flex justify-content-center">
        <div class = "profile-pic avatar-large">
          <% if @service.user.photo.attached? %>
            <%= cl_image_tag @service.user.photo.key %>
          <% else %>
            <%= image_tag "icon.png"%>
          <% end %>
        </div>
      </div>
      <div class="info"><i class="fa-solid fa-user pe-2"></i><%= @service.user.username%></div>
      <div class="info"><i class="fa-solid fa-envelope pe-2"></i> <%= @service.user.contact_email%></div>
      <div class="info"><i class="fa-solid fa-phone pe-2"></i> <%= @service.user.phonenumber%></div>
      <a href="<%= @service.user.linkedin_profile %>"> <i class="fa-brands fa-linkedin pe-2" style="color:black;"></i> <%= @service.user.linkedin_profile %></a>
      <h3 class="bio-title my-3">Bio</h3>
      <div class="text"><%= @service.user.bio%> </div>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-4 grid-card p-2">
    <%= render "services/review" %>
    <br>
  </div>
  <div class=" col-8 grid-card p-2">
    <%= render "services/reviews" %>
  </div>
</div>
<div class="map-box">
  <%= render "services/map", marker: @marker %>
</div>
