<h1 class="text-center">Your Bookmarked Services</h1>
<div class="info-box">
  <div class="bookmark-container">
    <% @bookmarks.each do |bookmark| %>
      <div class="bookmark-product bookmark-shadow">
        <div class="bookmark-product-image">
          <%= cl_image_tag(bookmark.service.photo.key, class: "bookmark-product-image") %>
        </div>
        <div class="bookmark-product-text">
          <%= link_to(bookmark.service.title, service_path(bookmark.service), class: "truncate btn btn-link text-decoration-none d-block") %>
          <div class="bookmark-product-infos">
            <p><%= bookmark.service.user.username %></p>
            <p><%= bookmark.service.user.email %></p>
            <p><%= bookmark.service.user.phonenumber %></p>
          </div>
        </div>
        <div class="bookmark-image-price">
          <p>¥ <%= bookmark.service.price %></p>
        </div>
        <div style="margin: auto; padding: 16px;">
          <%= simple_form_for bookmark, method: :delete do |f| %>
            <%= f.submit 'Remove', class: 'btn button-regular' %>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
  <div class="d-flex justify-content-end">
    <%= link_to 'Go back to Services', services_path, class: 'btn btn-secondary mt-3 ' %>
  </div>
</div>
